// 左右布局
aside {
  width: 224px;
  background: #3e3e3e;
  position: fixed;
  height: 100vh;
  color: #999;
}

// 左右布局
#main-content {
  margin-left: 224px;
}

.logo-area {
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 28px 0;
  position: relative;
  img {
    width: 60px;
    position: absolute;
    top: 5px;
    left: 24px;
  }
  span {
    font-size: 16px;
    display: inline-block;
    text-indent: 12px; // 首行缩进
  }
}

.menu {
  .list-group {
    .menu-item-1 {
      background-color: rgb(73, 73, 73);
      box-sizing: border-box;
      color: rgb(24, 144, 255);
      line-height: 45px;
      padding-left: 30px;
    }
    .menu-item-2 {
      color: #ffffff;
    }
    .menu-item-2, .menu-item-6, .menu-item-7 {
      line-height: 45px;
      margin-top: 4px;
      padding-left: 30px;
    }
    .menu-item-3, .menu-item-4, .menu-item-5 {
      // 基于bootstrap的list-group-item
      background-color: #000000;
      line-height: 50px;
      padding-bottom: 0;
      padding-left: 48px;
      padding-top: 0;
      border: 0;
    }
  }
}

.header {
  box-shadow: rgb(235, 237, 238) 0 1px 4px 0;
  display: flex;
  height: 47px;
  justify-content: space-between;
  z-index: 999;
  .folder {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    color: rgb(24, 144, 255);
    padding: 0;
    margin-left: 10px;
  }
  .user {
    width: 68px;
    line-height: 50px;
  }
}

.container {
  padding: 0;
  width: 100%;
  .container-header-bread {
    height: 56px;
    width: auto;
    padding-left: 32px;
    padding-top: 18px;
    span {
      font-size: 16px;
    }
  }

  .container-body {
    background-color: rgb(248, 248, 248);
    padding: 24px;
    .container-body-content {
      background-color: #ffffff;
      padding: 24px 32px;
      border: 1px solid #e6e6e6;
      .search-bar {
        display: flex;
        form {
          width: 100%;
          margin-bottom: 20px;
          .input-item {
            min-width: 320px;
          }
          .the-label {
            padding-left: 45px;
            margin-right: 16px;
            display: inline;
          }
          .input {
            width: 70%;
            display: inline;
          }
          button {
            margin-left: 30px;
            width: 70px;
          }
        }
      }
      .button-bar {
        margin-bottom: 16px;
        .btn-primary {
          width: 100px;
          margin-left: 0;
        }
      }
    }
  }
}

.btn {
  margin-left: 16px;
  height: 32px;
  line-height: 16px;
}

.btn-primary {
  background-color: #1890ff;
}

.btn-disabled {
  background-color: #f3f5f7;
  width: 62px;
}

.table-area {
  .main-table {
    border: 1px solid rgb(232, 232, 232);
  }
  table {
    height: 440px;
    width: 100%;
    .ant-table-selection-column {
      text-align: center;
      width: 62px;
    }
    thead th {
      background-color: rgb(250, 250, 250);
      border-collapse: separate;
      border-right: 1px solid rgb(232, 232, 232);
      border-bottom: 1px solid rgb(232, 232, 232);
      border-top-left-radius: 4px;
      box-sizing: border-box;
      color: rgb(102, 102, 102);
      padding: 6px 12px;
    }
    tbody tr td {
      text-align: left;
      border-right: 1px solid rgb(232, 232, 232);
      border-bottom: 1px solid rgb(232, 232, 232);
      color: rgb(102, 102, 102);
      font-size: 12px;
      height: 40px;
      line-height: 18px;
      list-style: none outside none;
      min-height: 40px;
      min-width: 62px;
      padding: 6px 12px;
      button {
        padding: 0;
        border: 0;
      }
      .ant-badge-status-dot {
        background-color: rgb(82, 196, 26);
        border-collapse: separate;
        border-radius: 50%;
        display: inline-block;
        height: 6px;
        width: 6px;
      }
      .ant-badge-status-text {
        color: rgb(135, 208, 104);
        margin-left: 8px;
      }
    }
  }
  .pagination-area {
    height: 32px;
    margin-bottom: 32px;
  }
  .pagination {
    color: rgba(0, 0, 0, 0.65);
    float: right;
    height: 32px;
    line-height: 24px;
    margin-block-end: 16px;
    margin-block-start: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin: 16px 0;
    padding-inline-start: 0px;
    padding: 0 0 0;
    li {
      display: inline-block;
      height: 32px;
      line-height: 32px;
      margin-right: 8px;
      a {
        color: rgba(0, 0, 0, .65);
        border-radius: 4px;
        border: 1px solid rgb(217, 217, 217);
        display: block;
        height: 32px;
        line-height: 32px;
        text-align: center;
        min-width: 32px;
        padding: 0 6px;
      }
    }
    .ant-pagination-disabled i {
      color: rgba(0, 0, 0, .25);
    }
    .ant-pagination-item-active a {
      border-color: #1890ff;
      color: #1890ff;
    }
    .ant-pagination-jump-next a {
      border: 0;
      color: rgba(0, 0, 0, .25);
    }
    .ant-pagination-options {
      height: 32px;
    }
    .ant-pagination-options-size-changer {
      border-radius: 4px;
      border: 1px solid rgb(217, 217, 217);
      height: 32px;
      position: relative;
      display: inline-block;
      width: 100px;
      margin-right: 8px;
      span {
        color: rgba(0, 0, 0, 0.25);
        line-height: 16px;
        margin-top: -8px;
        position: absolute;
        right: 11px;
        top: 15px;
      }
      .ant-select-selection-selected-value {
        margin-left: 10px;
      }
    }
    .ant-pagination-options-quick-jumper {
      display: inline-block;
      width: 120px;
      input {
        border-radius: 4px;
        border: 1px solid rgb(217, 217, 217);
        box-sizing: border-box;
        height: 32px;
        margin: 0 8px;
        padding: 4px 11px;
        width: 50px;
      }
    }
  }
}

.footer {
  color: rgb(153, 153, 153);
  height: 48px;
  line-height: 48px;
  text-align: center;
}
